$breakSize: 800;

$desktop: 144rem;
$mobile: 37.5rem;

// Theme 1

$veryDarkDesaturatedBlueMainBackground: #3a4764;
$veryDarkDesaturatedBlueToggleBackgroundKeypadBackground: #232c43;
$veryDarkDesaturatedBlueScreenBackground: #182034;
$desaturatedDarkBlueKeyBackground: #637097;
$desaturatedDarkBlueKeyShadow: #404e72;
$brightRed: #f96c5b;
$redKeyBackgroundToggle: #d03f2f;
$darkRedKeyShadow: #93261a;
$lightGrayishOrangeKeyBackground: #eae3dc;
$grayishOrangeKeyShadow: #b4a597;
$veryDarkGrayishBlue: #444b5a;
$white: #ffffff;
$brightBlue: #a2b3e1;

// Theme 2

$lightGrayMainBackground: #e6e6e6;
$grayishRedToggleBackgroundKeypadBackground: #d1cccc;
$veryLightGrayScreenBackground: #ededed;
$darkModerateCyanKeyBackground: #377f86;
$veryDarkCyanKeyShadow: #1b5f65;
$orangeKeyBackgroundToggle: #ca5502;
$darkOrangeKeyShadow: #893901;
$lightGrayishYellowKeyBackground: #e5e4e1;
$darkGrayishOrangeKeyShadow: #a69d91;
$veryDarkGrayishYellow: #35352c;
$brightOrange: #ff8b38;
$brightCyan: #62b5bd;

// Theme 3

$veryDarkVioletMainBackground: #160628;
$veryDarkVioletToggleBackgroundKeypadBackgroundScreenBackground: #1d0934;
$darkVioletKeyBackground: #58077d;
$vividMagentaKeyShadow: #bc15f4;
$pureCyanKeyBackgroundToggle: #00e0d1;
$softCyanKeyShadow: #6cf9f2;
$veryDarkVioletKeyBackground: #341c4f;
$darkMagentaKeyShadow: #871c9c;
$lightYellow: #ffe53d;
$veryDarkBlue: #1b2428;
$brightOcean: #94fff9;
$brightPurple: #6b34ac;
$brightNightmare: #8631b0;
